In [1]:
import csv

In [2]:
# Function to calculate total marks and grade

In [3]:
def calculate_grade(marks):
    total_marks = sum(marks)
    percentage = total_marks / len(marks)

    if percentage >= 90:
        grade = 'A+'
    elif 80 <= percentage < 90:
        grade = 'A'
    elif 70 <= percentage < 80:
        grade = 'B'
    elif 60 <= percentage < 70:
        grade = 'C'
    else:
        grade = 'F'

    return total_marks, grade

In [4]:
# Create a result table and enter student details

In [6]:
result_table = []
for i in range(1, 11):
    student_id = i
    student_name = input(f"Enter Student {i}'s Name: ")
    subject_marks = []
    for j in range(5):
        subject_marks.append(int(input(f"Enter marks for Subject {j + 1}: ")))

    total_marks, grade = calculate_grade(subject_marks)

    result_table.append([student_id, student_name] + subject_marks +
[total_marks, grade])

Enter Student 1's Name:  Pal
Enter marks for Subject 1:  67
Enter marks for Subject 2:  77
Enter marks for Subject 3:  65
Enter marks for Subject 4:  80
Enter marks for Subject 5:  75
Enter Student 2's Name:  Priyank
Enter marks for Subject 1:  60
Enter marks for Subject 2:  77
Enter marks for Subject 3:  63
Enter marks for Subject 4:  50
Enter marks for Subject 5:  45
Enter Student 3's Name:  Bhavin
Enter marks for Subject 1:  34
Enter marks for Subject 2:  62
Enter marks for Subject 3:  68
Enter marks for Subject 4:  72
Enter marks for Subject 5:  50
Enter Student 4's Name:  Yash
Enter marks for Subject 1:  67
Enter marks for Subject 2:  74
Enter marks for Subject 3:  59
Enter marks for Subject 4:  68
Enter marks for Subject 5:  35
Enter Student 5's Name:  Meet
Enter marks for Subject 1:  48
Enter marks for Subject 2:  67
Enter marks for Subject 3:  78
Enter marks for Subject 4:  58
Enter marks for Subject 5:  67
Enter Student 6's Name:  Dev
Enter marks for Subject 1:  69
Enter marks for Subject 2:  64
Enter marks for Subject 3:  85
Enter marks for Subject 4:  35
Enter marks for Subject 5:  77
Enter Student 7's Name:  Aryan
Enter marks for Subject 1:  67
Enter marks for Subject 2:  85
Enter marks for Subject 3:  39
Enter marks for Subject 4:  40
Enter marks for Subject 5:  65
Enter Student 8's Name:  Dhruv
Enter marks for Subject 1:  60
Enter marks for Subject 2:  37
Enter marks for Subject 3:  45
Enter marks for Subject 4:  69
Enter marks for Subject 5:  75
Enter Student 9's Name:  Viral
Enter marks for Subject 1:  79
Enter marks for Subject 2:  35
Enter marks for Subject 3:  62
Enter marks for Subject 4:  49
Enter marks for Subject 5:  57
Enter Student 10's Name:  Nikunj
Enter marks for Subject 1:  67
Enter marks for Subject 2:  65
Enter marks for Subject 3:  52
Enter marks for Subject 4:  57
Enter marks for Subject 5:  66

In [7]:
# Dump table into result.csv

In [8]:
with open('D:\\22bca50\\python\\result.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Student ID', 'Student Name', 'Subject 1','Subject 2', 'Subject 3', 'Subject 4', 'Subject 5', 'Total Marks','Grade'])
    writer.writerows(result_table)

In [9]:
# Read result.csv and print total marks and grade

In [15]:
with open('D:\\22bca50\\python\\result.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader) 
    for row in reader:
        student_id, student_name, *subject_marks, total_marks, grade = row
        print(f"Student ID: {student_id}, Student Name:{student_name}, Total Marks: {total_marks}, Grade: {grade}")

Student ID: 1, Student Name:Pal, Total Marks: 364, Grade: B
Student ID: 2, Student Name:Priyank, Total Marks: 295, Grade: F
Student ID: 3, Student Name:Bhavin, Total Marks: 286, Grade: F
Student ID: 4, Student Name:Yash, Total Marks: 303, Grade: C
Student ID: 5, Student Name:Meet, Total Marks: 318, Grade: C
Student ID: 6, Student Name:Dev, Total Marks: 330, Grade: C
Student ID: 7, Student Name:Aryan, Total Marks: 296, Grade: F
Student ID: 8, Student Name:Dhruv, Total Marks: 286, Grade: F
Student ID: 9, Student Name:Viral, Total Marks: 282, Grade: F
Student ID: 10, Student Name:Nikunj, Total Marks: 307, Grade: C

In [16]:
# List out top 3 students with percentage

In [18]:
sorted_results = sorted(result_table, key=lambda x: x[-2],
reverse=True)  # Sort by total marks
print("\nTop 3 Students:")
for i in range(3):
    student_id, student_name, *_, total_marks, grade = sorted_results[i]
    percentage = (int(total_marks) / 500) * 100
    print(f"Student ID: {student_id}, Student Name: {student_name},Percentage: {percentage}%")

Top 3 Students:
Student ID: 1, Student Name: Pal,Percentage: 72.8%
Student ID: 6, Student Name: Dev,Percentage: 66.0%
Student ID: 5, Student Name: Meet,Percentage: 63.6%